.submitCont div {
  margin: 0 0 1rem 0;
}

.submitCont form {
  padding: 1.2rem;
}

.submitCont label {
  font-size: 1.5rem;
  font-weight: bolder;
  display: block;
  margin-bottom: 0.3rem;
}

.submitCont input {
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}
